<style>
h1{font-family: 'lucida handwriting'}
</style>
<center>

# **Atelier** <br> Language Web Sémantique
</center>

### **CHERGUI Moad**  
IID3

In [25]:
from rdflib import Graph, URIRef, Literal
from rdflib.namespace import RDF, RDFS, OWL

# Load the graph
g = Graph()
g.parse("graph-ENSA.ttl", format="turtle")

print("Graph loaded with", len(g), "triples")

Graph loaded with 28 triples

In [26]:
# Query 1: List all students
query1 = """
PREFIX ex: <http://ENSA.org/>
SELECT ?student
WHERE {
    ?student rdf:type ex:etudiant .
}
"""
results1 = g.query(query1)
print("Étudiants:")
for row in results1:
    print(row[0])

Étudiants:
http://ENSA.org/Moad
http://ENSA.org/Abdellah
http://ENSA.org/Rida

In [27]:
# Query 2: List all teachers
query2 = """
PREFIX ex: <http://ENSA.org/>
SELECT ?teacher
WHERE {
    ?teacher rdf:type ex:professeur .
}
"""
results2 = g.query(query2)
print("Professeurs:")
for row in results2:
    print(row[0])

Professeurs:
http://ENSA.org/Pr.Nidal
http://ENSA.org/Pr.Nassima

In [28]:
# Query 3: Find classes taught by each teacher
query3 = """
PREFIX ex: <http://ENSA.org/>
SELECT ?teacher ?class
WHERE {
    ?teacher ex:enseigne ?class .
}
"""
results3 = g.query(query3)
print("Professeurs et leurs modules:")
for row in results3:
    print(f"{row[0]} enseigne {row[1]}")

Professeurs et leurs modules:
http://ENSA.org/Pr.Nidal enseigne http://ENSA.org/ingenierie-des-connaissance
http://ENSA.org/Pr.Nassima enseigne http://ENSA.org/BigData

In [29]:
# Query 4: Find students enrolled in each class
query4 = """
PREFIX ex: <http://ENSA.org/>
SELECT ?student ?class
WHERE {
    ?student ex:etudie ?class .
}
"""
results4 = g.query(query4)
print("Étudiants et leurs modules:")
for row in results4:
    print(f"{row[0]} étudie {row[1]}")

Étudiants et leurs modules:
http://ENSA.org/Moad étudie http://ENSA.org/ingenierie-des-connaissance
http://ENSA.org/Abdellah étudie http://ENSA.org/ingenierie-des-connaissance
http://ENSA.org/Rida étudie http://ENSA.org/ingenierie-des-connaissance
http://ENSA.org/Moad étudie http://ENSA.org/BigData
http://ENSA.org/Abdellah étudie http://ENSA.org/BigData
http://ENSA.org/Rida étudie http://ENSA.org/BigData

In [30]:
# Query 5: List all classes
query5 = """
PREFIX ex: <http://ENSA.org/>
SELECT ?class
WHERE {
    ?class rdf:type ex:module .
}
"""
results5 = g.query(query5)
print("Modules:")
for row in results5:
    print(row[0])

Modules:
http://ENSA.org/ingenierie-des-connaissance
http://ENSA.org/BigData